<body class="admin">
  <div class="container">
    <div class="row">
      <div id="folders">
        <div class="col s2 tab l900">Users</div>
        <div class="col s2 tab l900">Events</div>
        <div class="col s2 tab l900">News</div>
        <div class="col s2 tab l900">Organizations</div>
        <div class="col s2 tab l900">Technologies</div>
        <div class="col s2 tab"><h3 class="pageTitle right-align">Admin</h3></div>
      </div>
    </div>
    <div id="rectangle">

      <div class="row">
        <div class="userBoxes">
          <span class="col s4 h5class l900">Pending Claim Requests</span>
            <table class="highlight pendingTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Item Name</th>
                  <th>Item Price</th>
                  <th>Item Price</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Alvin</td>
                  <td>Something</td>
                  <td>Something</td>
                  <td>Accept Reject</td>
                </tr>
                <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
                  <td>$3.76</td>
                  <td>Accept Reject</td>
                </tr>
                <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
                  <td>$7.00</td>
                  <td>Accept Reject</td>
                </tr>
                <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
                  <td>$7.00</td>
                  <td>Accept Reject</td>
                </tr>
              </tbody>
            </table>

          <!-- <h5>Admin</h5> -->
           <span class="col s4 h5class l900">Users</span>
            <table class="highlight pendingTable">
             <thead>
               <tr>
                   <th>Name</th>
                   <th>Item Name</th>
                   <th>Item Price</th>
                   <th>Item Price</th>
               </tr>
             </thead>

             <tbody>
               <tr>
                 <td>Alvin</td>
                 <td>Something</td>
                 <td>Something</td>
                 <td>Edit Delete</td>
               </tr>
               <tr>
                 <td>Alan</td>
                 <td>Jellybean</td>
                 <td>$3.76</td>
                 <td>Edit Delete</td>
               </tr>
               <tr>
                 <td>Jonathan</td>
                 <td>Lollipop</td>
                 <td>$7.00</td>
                 <td>Edit Delete</td>
                 <%#= link_to '+', add_shop_path(product), :style=>'color: red;' %>
               </tr>
               <tr>
                 <td>Jonathan</td>
                 <td>Lollipop</td>
                 <td>$7.00</td>
                 <td>Edit Delete</td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
    </div>

  </div>
</body>
