<h1>Events Page</h1>

<div id="event-list">
    <% if @events %>
        <% @events.each do |event| %>
          <p><%= event.name %></p>
          <p><%= Time.at(event.start_time) %></p>
          <hr>
        <% end %>
    <% end %>
</div>