// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #293F55;
$orgBg: #FF9F9F;
$orgText: #761F72;
$eventBg: #0FC2E2;
$eventText: #FEDC3D;
$newsBg: #FFE35C;
$newsText: #01ABAA;
$usersBg: #8FB449;
$usersText: #EAF25D;
$techBg: #724499;
$techText: #95DBE0;
