/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "materialize";

 @font-face {
     font-family: "OhmegaSans";
     src: url("OhmegaSans-Regular.otf") format("opentype");
 }

 @font-face {
  font-family: 'AvenirNext';
  src: url('AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  }

@font-face {
 font-family: 'AvenirNext';
 src: url('AvenirNextLTPro-Demi.otf') format('opentype');
 font-weight: bolder;
 font-style: normal;
 }

 @font-face {
  font-family: 'AvenirNext';
  src: url('AvenirNextLTPro-It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  }

@font-face {
 font-family: 'AvenirNext';
 src: url('AvenirNextLTPro-Regular.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
 }
 
 html {
  margin: 0;
  padding: 0;
 }
 
 .bottom-nav {
   background-color: #01ABAA;
   position: fixed;
   bottom: 0;
   z-index: 90;
   box-shadow: 0 -10px 20px rgba(0,0,0,0), 0 -6px 6px rgba(0,0,0,0.23);
 }

.brand-logo img {
  position: fixed;
  margin: 8px;
  width: 45px;
  right: 0;
}

.foot-quote {
  position: fixed;
  display: inline;
  right: 65px;
  text-align: right;
  padding: 2px;
}

.pagination a li.active {
  color: #fff;
}
