// COLORS
$yellow: #FEDC3D;
$peach: #FEA680;
$blue: #01ABAA;
$red: #F53240;

$font-stack: "OhmegaSans", sans-serif;
$bodyText: "AvenirNext", sans-serif;

body {
  font-family: $bodyText;
}

$background: #293F55;
$orgText: #761F72;
$eventBg: #0FC2E2;
$eventText: #FEDC3D;
$newsBg: #FFE35C;
$newsText: #01ABAA;
$usersBg: #8FB449;
$usersText: #EAF25D;
$techBg: #724499;
$techText: #95DBE0;

.explore {
  background-color: $blue;
}

.folders {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 5%;
}

#rectangle {
  border-radius: 0px 15px 0px 0px;
  width: 100%;
  height: 100%;
  top: 25px;
  background-color: $peach;
  z-index: 3;
  box-shadow: 0 -10px 20px rgba(0,0,0,0), 0 -6px 6px rgba(0,0,0,0.23);
}

.tabby {
  border-radius: 15px 15px 0px 0px;
  position: absolute;
  width: 20%;
  min-height: 60px;
  box-shadow: 3px -10px 20px rgba(0,0,0,0), 3px -6px 6px rgba(0,0,0,0.23);
}

.tabby.directory {
    color: $orgText;
    background-color: $peach;
    z-index: 4;
}
.tabby.events {
    color: $eventText;
    background-color: $eventBg;
    left: 25%;
    z-index: 2;
}
.tabby.news {
    color: $newsText;
    background-color: $newsBg;
    left: 45%;
    z-index: 1;
}

.tab-text {
  text-align: center;
  padding: 7px;
}

.pageTitle {
  float: right;
  margin: 0;
  width: 100%;
  color: white;
  z-index: 14;
}

.titleAdmin {
  font-family: $font-stack;
  z-index: 2;
  position: relative;
}

// DIRECTORY CONTENTS
.map-container {
  padding: 2%;
}

#map {
 height: 30vh;
 width: 100%;
 border-radius: 15px;
}

.card {
  margin: 1%;
}

.card-title {
  border: thin blue solid;

}
