// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$background: #293F55;
$orgBg: #FF9F9F;
$orgText: #EAF25D;
$eventBg: #0FC2E2;
$eventText: #EFFFDD;
$newsBg: #FFE35C;
$newsText: #01ABAA;
$usersBg: #8FB449;
$usersText: #761F72;
$techBg: #724499;
$techText: #95DBE0;
$tabMargin: -3.28em;

#rectangleNews {
  margin-top: $tabMargin;
	width: 70vw;
	min-height:70vh;
  border-radius: 1em;
  z-index: 1em;
  top: -1em;
  position: relative;
  background-color: $newsBg;
  padding-bottom: 1em;
}

.newsLine {
  border-bottom: 1px solid $orgBg;
}

.newsTable {
  border-radius: 1em;
  overflow: hidden;
  box-shadow: inset 0 0 0 5px $orgBg;
  width: 50%;
  // border: 7px solid $newsBg;
  background-color: #ffd7d7 !important;
  padding: 3em;
  // margin: 1em;
  min-width: 90%;
  position: relative;
  z-index: 0;
  margin: 0 auto;

  tbody tr:last-child td {
    padding-bottom: 1em !important;
  }
}
.newsTable:hover {
  // border-radius: 1em;
  box-shadow: inset 0 0 0 5px $orgBg !important;
  z-index: 3;
  position: relative;
}





#formNews input[type=email] {
  border-bottom-color: $techBg !important;
  &:focus{
    box-shadow: 0 1px 0 0 $techBg !important;
  }
}
#formNews input[type=password] {
  border-bottom-color: $techBg !important;
  &:focus{
    box-shadow: 0 1px 0 0 $techBg !important;
  }
}
#formNews input[type=text] {
  border-bottom-color: $techBg !important;
  &:focus{
    box-shadow: 0 1px 0 0 $techBg !important;
  }
}
#formNews.input-field {
   color: $techBg;
 }
 #formNews.input-field label {
   color: $techBg !important;
   border-bottom-color: $techBg !important;
 }
 /* label focus color */
 #formNews.input-field input[type=text]:focus + label {
   color: $techBg !important;
   border-bottom-color: $techBg !important;
 }
 /* label underline focus color */
 #formNews.input-field input[type=text]:focus {
   border-bottom: 1px solid $techBg !important;
   box-shadow: 0 1px 0 0 $techBg !important;
   border-bottom-color: $techBg !important;
 }
 /* valid color */
 #formNews.input-field input[type=text].valid, .input-field input[type=password].valid,.input-field input[type=email].valid {
   border-bottom: 1px solid $techBg !important;
   box-shadow: 0 1px 0 0 $techBg !important;
   border-bottom-color: $techBg !important;
 }
 /* invalid color */
 #formNews.input-field input[type=text].invalid, .input-field input[type=password].invalid, .input-field input[type=email].invalid {
   border-bottom: 1px solid $techBg !important;
   box-shadow: 0 1px 0 0 $techBg !important;
   border-bottom-color: $techBg !important;
 }
 /* icon prefix focus color */
 #formNews.input-field .prefix.active {
   color: $techBg !important;
   border-bottom-color: $techBg !important;
 }
