
.adminpanel{
    height: 500px;
    overflow: scroll;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}
th, td {
    padding: 5px;
    text-align: left;
    text-align: center;
}
