// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parallax-container.parallax1 {
      // height: 8000px;
      max-width: 100%;
      background-attachment: fixed;
      background-position: center;
      // background-position: right 10px top;
      background-repeat: no-repeat;
      // background-image:url('./signup1.jpg');
      background-image: url("signin.jpg");
        height: 100%;
    }
