// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: "OhmegaSans", sans-serif;
$main-color: #FEDC3D;
.bodyText {
    font-size: 20px;
}


.title {
  font-family: $font-stack;
  margin-left: -0.2em;
  padding-top: 1em;
  color: $main-color;
}

.parallax-container.parallax {
      // height: 8000px;
      max-width: 100%;
      background-attachment: fixed;
      background-position: center;
      // background-position: right 10px top;
      background-repeat: no-repeat;
      // background-image:url('./signup1.jpg');
      background-image: url("signup1.jpg");
        height: 100%;
    }

.signInText {
  color: white;
  font-size: 14px;
}

a.signInLink {
  color: yellow;
}

body {
  margin: 0;
  padding: 0;
}

/* label color */
  #formUser input[type=email] {
    border-bottom-color: white !important;
    &:focus{
      box-shadow: 0 1px 0 0 white !important;
    }
  }
  #formUser input[type=password] {
    border-bottom-color: white !important;
    &:focus{
      box-shadow: 0 1px 0 0 white !important;
    }
  }
  #formUser input[type=text] {
    border-bottom-color: white !important;
    &:focus{
      box-shadow: 0 1px 0 0 white !important;
    }
  }
  #formUser.input-field {
     color: white;
   }
   #formUser.input-field label {
     color: white !important;
     border-bottom-color: white !important;
   }
   /* label focus color */
   #formUser.input-field input[type=text]:focus + label {
     color: #ffffff !important;
     border-bottom-color: white !important;
   }
   /* label underline focus color */
   #formUser.input-field input[type=text]:focus {
     border-bottom: 1px solid #ffffff !important;
     box-shadow: 0 1px 0 0 #ffffff !important;
     border-bottom-color: white !important;
   }
   /* valid color */
   #formUser.input-field input[type=text].valid, .input-field input[type=password].valid,.input-field input[type=email].valid {
     border-bottom: 1px solid #ffffff !important;
     box-shadow: 0 1px 0 0 #ffffff !important;
     border-bottom-color: white !important;
   }
   /* invalid color */
   #formUser.input-field input[type=text].invalid, .input-field input[type=password].invalid, .input-field input[type=email].invalid {
     border-bottom: 1px solid #ffffff !important;
     box-shadow: 0 1px 0 0 #ffffff !important;
     border-bottom-color: white !important;
   }
   /* icon prefix focus color */
   #formUser.input-field .prefix.active {
     color: #ffffff !important;
     border-bottom-color: white !important;
   }

   .input-field.col.s12.btncontainer {
     padding-left: 0;
   }
   #btnUser.waves-effect.waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
     background-color: rgba(121, 85, 72, 0.65);
   }
   .waves-effect.waves-light.btn.waves-input-wrapper {
       background-color: $main-color;
   }
