<h1> hi chase</h1>

<% @organizations.each do |organization| %>
  <a href="<%= organization_path(organization) %>" style="text-decoration: none;">
  <h3><%= organization.name %></h3>
    </a>
  <hr>
<% end %>
